// set theme color variables
$primary: #F68B1E;
$active: #D87109;
$alt: #0875C4;
$light: #FEF2E6;
$alt-light: #E6F0FE;
$dark: #311A02;
$grey: #B1A395;
$neutral: #F3F2F2;

$success: #3E8D63;
$warning: #FFC266;
$danger: #F02517;
